*{
    padding: 0;
    margin: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
}

body{
    background: white;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    align-items: center;
}
.center-navbar ul{
    display: inline-flex;
}
.center-navbar ul li{
    list-style: none;
    margin-right: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}

.center-navbar ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    margin-right: 40px;
    position:relative;
}
.center-navbar ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    border: 0;
    background: #045eb5;
    position: absolute;
    bottom: -14px;
    transition: width 0.3s;
}

.center-navbar ul li a:hover::after, .center-navbar ul li a.active-link::after{
    width: 100%;
}


.right-navbar button {
    padding:15px 60px;
    font-size: 25px;
    color: #ffff;
    background: blue;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}
.right-navbar button a{
    text-decoration: none;
    color: #fff;
}

.right-navbar button:hover{
    opacity: 0.4;
}
.left-navbar span{
    color: blue;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Banner section  */

.banner{
    display: flex;
    padding: 30px 40px;
    align-items: center;
}

.banner-header h1{
    display: block;
    width: 650px;
    font-family: sans-serif;
    font-size: 80px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 10px;

}
.banner-header p{
    display: block;
    width: 550px;
    margin-left:15px ;
    font-size: 24px;
    color: #23080877;
    font-weight: bold;
    margin-top: 10px;
}


.banner-image img{
    border-radius: 50%;
    width: 600px;
    margin-left: -80px;
}

.banner-btn{
    margin-left: 55px;
    margin-bottom: 50px;
}
.banner-btn button{
    width: 250px;
    padding: 20px 50px;
    font-size: 25px;
    border-radius: 10px;
    font-weight: bold;
}

.banner-btn .sign-btn{
    margin-top: 40px;
    background: blue;
    color: #ffff;
    border: none;
    margin-right: 40px;
}

.banner-btn .sign-btn:hover{
    opacity: 0.4;
}
.banner-btn button a{

    text-decoration: none;
}

.banner-btn button.sign-btn a{
    
    color: #ffff;
}
.banner-btn button.more-btn a{
    color: black;
}
.banner-btn .more-btn{
    background: white;
    border: 2px solid #ccc;
}

.banner-btn .more-btn:hover{
    border-color: blue;
    opacity: 0.4;
}

/* about section  */

.about{
    padding: 40px 30px;
}
.core {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about h2 {
    font-size: 60px;
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    font-family: sans-serif;
}

.about-card{
    width: 200px;
    margin-top: 60px;
}

.about-card img{
    width: 80px;
    color: blue;
    margin-bottom: 5px;
    margin-left: 5px;
}
.about-card h3{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 4px;
}

.about-card p {
    font-size: 18px;
}


/* Testimonial  section */
.testimonial{
    padding-top: 20px;
}
.testimonial h3{
    color: #111;
    font-size: 50px;
    text-align: center;
}

.testimonial1{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    margin-bottom: 50px;
}
.testimonial1 .test-card {
    width: 400px;
    height: 400px;
    background:#fff;
    box-shadow: 0 10px 5px rgba(0,0,0,0.1);
}

.test-card img{
    width: 150px;
    border-radius: 50%;
    margin: 20px 30%;
}

.test-text h3{
    font-size: 25px;
}

.test-text h4{
    font-size: 20px;
    text-align: center;
}



/* Footer section style */
.footer{
    padding: 20px 0 40px 0;
    background: rgb(27, 7, 7);
}
.footer-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: top;
}

.footer-cards a {
    text-decoration: none;
}
.footer-card:last-child h2{
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-card:last-child h2, .footer-card:last-child span{
    color: white;
}

.footer-card:last-child span{
    font-size: 18px;
    font-weight: 300;
}

.footer-card:last-child input[type ="text"] {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    color: rgb(143, 141, 141) ;
    background-color: #02182d;
    margin-top: 20px;
    font-size: 12px;
    outline: none;
}

.footer-card:last-child button{
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    margin-left: -20px;
    font-size: 12px;
    color: rgb(59, 59, 59) ;
    cursor: pointer;
    transition: opacity 1ms ease-in-out;

}

.footer-card:last-child button:hover{
    opacity: 0.4;

}

.footer-card ul li{
    list-style: none;
    margin-top: 10px;
}

.footer-card h3{
 color: white;
}

.course-card{
    margin-top: 20px;
}

.footer-card ul li a{
    color: rgb(143, 141, 141);
    font-size: 12px;
    font-weight: 500;
}

.copy-right{
    margin-top: 20px;
    color: rgb(143, 141, 141);
    text-align: center;
}

.copy-right img{
    width: 15px;
    border-radius: 50%;
    margin-left:5px ;
    background: transparent;
}

/* -------------Courses Page --------------- */

.course-header {
    padding-top: 150px;
    text-align: center;
}
.course-header div {
    display: inline-block;
    width: 550px;
    text-align: left;
}

.course-header h1{
   font-size: 70px;
}
.course-header div p{
    font-size: 18px;
    font-weight: 400;
    color: #350b0b;
}


.courses{
    padding: 70px 50px;
}

.courses h2{
    font-size: 35px;
    margin-top: 40px;
}


.grid-container{
    margin: 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.courses-card{
     /* width: 380px; */
     background: #fff;
     /* height: 380px; */
     box-shadow: 2px 10px 5px rgba(0,0,0,0.1);
}


.course-card-img img{
    width: 100%;
    height: 200px;
}
.course-card-desc a h3{
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 5px;
    color: #111;
}

.course-card-desc span{
    color: #583838;
    font-size: 13px;
}

.course-card-desc h4{
    font-size: 15px;
    margin: 5px 0;
}

.course-card-desc h5 {
    font-size: 18px;
}
.course-card-desc a{
    text-decoration: none;
}

.course-card-desc button{
    margin: 5px 2px;
    padding: 5px 10px;
    font-size: 14px;
    background: rgb(248, 184, 21);
    border: none;
    font-weight: bold;
}



/* ---------------------contacts style page--------- */
.contact-h {
    /* width: 150px; */
    text-align: center;
    margin-top: 100px;
}

.contact-h h1{
    font-size: 60px;
    text-align: center;
}

.sub-h {
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
}


.contact-b {
    display: flex;
    justify-content: center;
    margin-left: 18%;
    margin-top: 30px;
    margin-bottom: 80px;
}

form label{
    margin-bottom: 20px;
    font-size: 20px;
}

form input[type ="text"] , form input[type = "email"]{
    padding-right: 250px;
    padding-top: 30px;
    border: 1px solid #ccc;
    background-color: #7777;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    outline: none;
}


textarea {
    font-size: 18px;
    background-color: #7777;
    border: none;
    color: #02182d;
    margin-bottom: 20px;
    outline: none;
}

form input[type = "submit"]{
    width: 450px;
    padding: 15px 30px;
    color: white;
    background-color: blue;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    
}

form input[type = "submit"]:hover{
    opacity:  0.6;
}

.contact-img img{
    width: 840px;
    border-radius: 50%;
}

.contact-img ul{
    margin-left: 150px;
}

.contact-img ul li {
    list-style:  none;
    display: inline-block;
    
}

.contact-img ul li a img{
    width: 40px;
    margin-left: 15px;   
}



/* -------------------about page style-------- */

.us-cards{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 90px;
}

.us-card{
    width: 350px;
    height: 400px;
}

.us-card h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.us-card img{
    width: 100%;
    height: 100%;
}
.us-card h3{
    text-align: center;
    font-size: 55px;
}

.about-exp{
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 250px;
    text-align: center;
    margin-left: 20px;
}

.ab-student{
    margin-top: 60px;
}

.b-ex{
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 40px;
    font-weight: 900;
}

.about-team{
    padding-bottom: 70px;
}

.about-team h2{
    text-align: center;
    font-size: 45px;
}

.our-team{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 800px){
    /* .our-team{
        flex-direction: column;
    } */
    
    .our-team > div {
        margin-bottom: 30px;
    }
}
.team-member {
    margin-top: 80px;
}
.team-member img{
    width: 300px;
    border: 2px solid  #ddd;
    box-shadow: 2px  2px 8px rgba(0, 0, 0, .7); 
    transition: all .2s ease-in-out;   
    border-radius: 10px;
}

.team-member h4{
    margin-top: 10px;
    font-size: 24px;
}
.team-member p{
    margin-top: 5px;
    font-size: 17px;
    color: #222;
}

