*{
    padding: 0;
    margin: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
}

body{
    background: white;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    align-items: center;
}
.center-navbar ul{
    display: inline-flex;
}
.center-navbar ul li{
    list-style: none;
    margin-right: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}

.center-navbar ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    margin-right: 40px;
    position:relative;
}
.center-navbar ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    border: 0;
    background: #045eb5;
    position: absolute;
    bottom: -14px;
    transition: width 0.3s;
}

.center-navbar ul li a:hover::after, .center-navbar ul li a.active-link::after{
    width: 100%;
}


.right-navbar button {
    padding:15px 60px;
    font-size: 25px;
    color: #ffff;
    background: blue;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

.right-navbar button:hover{
    opacity: 0.4;
}
.left-navbar span{
    color: blue;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Banner section  */

.banner{
    display: flex;
    padding: 30px 40px;
    align-items: center;
}

.banner-header h1{
    display: block;
    width: 650px;
    font-family: sans-serif;
    font-size: 80px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 10px;

}
.banner-header p{
    display: block;
    width: 550px;
    margin-left:15px ;
    font-size: 24px;
    color: #23080877;
    font-weight: bold;
    margin-top: 10px;
}


.banner-image img{
    border-radius: 50%;
    width: 600px;
    margin-left: -80px;
}

.banner-btn{
    margin-left: 55px;
    margin-bottom: 50px;
}
.banner-btn button{
    width: 250px;
    padding: 20px 50px;
    font-size: 25px;
    border-radius: 10px;
    font-weight: bold;
}

.banner-btn .sign-btn{
    margin-top: 40px;
    background: blue;
    color: #ffff;
    border: none;
    margin-right: 40px;
}
.banner-btn .sign-btn:hover{
    opacity: 0.4;
}

.banner-btn .more-btn{
    background: white;
    border: 2px solid #ccc;
}

.banner-btn .more-btn:hover{
    border-color: blue;
    opacity: 0.4;
}

/* about section  */

.about{
    padding: 40px 30px;
}
.core {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about h2 {
    font-size: 60px;
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    font-family: sans-serif;
}

.about-card{
    width: 200px;
    margin-top: 60px;
}

.about-card img{
    width: 80px;
    color: blue;
    margin-bottom: 5px;
    margin-left: 5px;
}
.about-card h3{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 4px;
}

.about-card p {
    font-size: 18px;
}


/* Testimonial  section */
.testimonial{
    padding-top: 20px;
}
.testimonial h3{
    color: #111;
    font-size: 50px;
    text-align: center;
}

.testimonial1{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    margin-bottom: 50px;
}
.testimonial1 .test-card {
    width: 400px;
    height: 400px;
    background:#fff;
    box-shadow: 0 10px 5px rgba(0,0,0,0.1);
}

.test-card img{
    width: 150px;
    border-radius: 50%;
    margin: 20px 30%;
}

.test-text h3{
    font-size: 25px;
}

.test-text h4{
    font-size: 20px;
    text-align: center;
}